<?xml version="1.0" encoding="utf-8"?>
<packages>
"  " <package id="7zip"/>
"  " <package id="7zip.install"/>
"  " <package id="AquaSnap"/>
"  " <package id="ConEmu"/>
"  " <package id="DotNet4.5.2"/>
"  " <package id="Everything"/>
"  " <package id="Firefox"/>
"  " <package id="GoogleChrome"/>
"  " <package id="Gow"/>
"  " <package id="Sudo"/>
"  " <package id="ag"/>
"  " <package id="amazon-music"/>
"  " <package id="autohotkey.portable"/>
"  " <package id="awscli"/>
"  " <package id="ccleaner"/>
"  " <package id="chocolatey"/>
"  " <package id="chocolatey-core.extension"/>
"  " <package id="chocolatey-windowsupdate.extension"/>
"  " <package id="cmake"/>
"  " <package id="docker"/>
"  " <package id="docker-cli"/>
"  " <package id="docker-desktop"/>
"  " <package id="ext2fsd"/>
"  " <package id="imageglass"/>
"  " <package id="git"/>
"  " <package id="corvusSKK"/>
"  " <package id="git.install"/>
"  " <package id="gitkraken"/>
"  " <package id="godmode"/>
"  " <package id="golang"/>
"  " <package id="google-drive-file-stream"/>
"  " <package id="jdk8"/>
"  " <package id="jre8"/>
"  " <package id="kindle"/>
"  " <package id="llvm"/>
"  " <package id="make"/>
"  " <package id="mailspring"/>
"  " <package id="msys2"/>
"  " <package id="nodejs-lts"/>
"  " <package id="notepadplusplus"/>
"  " <package id="notepadplusplus.install"/>
"  " <package id="pandoc"/>
"  " <package id="qbittorrent"/>
"  " <package id="rapidee"/>
"  " <package id="rufus"/>
"  " <package id="strawberryperl"/>
"  " <package id="sumatrapdf"/>
"  " <package id="sumatrapdf.commandline"/>
"  " <package id="toggle"/>
"  " <package id="tor-browser"/>
"  " <package id="vivaldi"/>
"  " <package id="vlc"/>
"  " <package id="wox"/>
</packages>
<!-- vim: ft=xml ts=4 sw=4 sts=4 tw=88 fenc=utf-8 ff=unix si et -->
