<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id = "chocolatey" />
    <package id = "rapidee" />
    <package id = "everything" />
    <package id = "wox" />
    <package id = "nodejs-lts" />
    <package id = "ext2fsd" />
    <package id = "msys2" />
    <package id = "7zip" />
    <package id = "ccleaner" />
    <package id = "conemu" />
    <package id = "kindle" />
    <package id = "GoogleChrome" />
    <package id = "visualstudiocode" />
    <package id = "vlc" />
    <package id = "sumatrapdf" />
    <package id = "godmode" />
    <package id = "evernote" />
    <package id = "amazon-music" />
    <package id = "slack" />
    <package id = "neovim" />
    <package id = "Sudo" />
    <package id = "Firefox" />
    <!-- <package id = "github" /> -->
    <package id = "Gow" />
    <package id = "notepadplusplus" />
    <package id = "jdk8" />
    <package id = "jre8" />
</packages>